<!--The content below is only a placeholder and can be replaced.-->
<ScrollView >
    <StackLayout horizontalAlignment="center" verticalAlignment="center">
            <GridLayout rows="33*, 67*">
            <GridLayout row="0" class="logo-container">
                <GridLayout class="image-container">
                    <Image src="~/app/images/Property_Launch_Logo_png" class = "logoImage"></Image>
                </GridLayout>
            </GridLayout>

            <GridLayout row="1" rows="*, auto" >
                    <GridLayout row="0" rows="auto" rows="*">
                            <ActivityIndicator color="red" [busy]="true"
                                horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
                    </GridLayout>

                    <GridLayout row="0" rows="*">

                    <GridLayout row="0" 
                                rows="auto, auto, auto, auto, auto" 
                                class="container-padding"
                                verticalAlignment="top">

                                <GridLayout row="0" rows="auto, auto">

                                        <TextField 
                                            #email 
                                            row="0"
                                            ios:style="padding:10" 
                                            android:style="padding-left:10; padding-right: 10"
                                            hint="Email" 
                                            keyboardType="email"
                                            [(ngModel)]="userDetails.email" 
                                            autocorrect="false"
                                            autocapitalizationType="none" 
                                            (focus)="onEmailFocus()"
                                            class="txtEmailLogin"
                                            >
                                        </TextField>
            
                                        <Label 
                                        class = ""
                                        row="1"
                                        #errormail 
                                        [text]="getEmailError()" 
                                        
                                        >
                                        </Label>
                                        
                                </GridLayout>

                                <GridLayout row="1" rows="auto, auto">

                                        <TextField 
                                            #password 
                                            row="0"
                                            ios:style="padding:10" 
                                            android:style="padding-left:10; padding-right: 10"
                                            hint="Password" 
                                            keyboardType="email"
                                            [(ngModel)]="userDetails.password" 
                                            autocorrect="false"
                                            autocapitalizationType="none" 
                                            (focus)="onEmailFocus()"
                                            class="txtPasswordLogin"
                                            >
                                        </TextField>
            
                                        <Label 
                                        *ngIf="hasEmailErrors()" 
                                        class="eloha-font-semibold m-t-2 login-field-label color-danger"
                                        row="1" [text]="getEmailError()" 
                                        [ngClass]="{'font-size-md': !isTablet(), 'font-size-md-tablet': isTablet()}"
                                        >
                                        </Label>
                                        
                                </GridLayout>

                                <GridLayout row="2" rows="auto">

                                        <Label 
                                        text = "Forgot Password?"
                                        class = "forgotPassword"
                                        horizontalAlignment="center"
                                        >
                                        </Label>
                                        
                                </GridLayout>

                                <GridLayout row="3" rows="auto">

                                        <Button
                                        text = "Login"
                                        class = "btnLogin"
                                        (tap) = "btnLoginAction()"
                                        >
                                        </Button>
                                        
                                </GridLayout>

                                <GridLayout row="4" rows="auto" >

                                        <Label
                                        text = "Don't have an account sign up here"
                                        class = " lbldontac"
                                        horizontalAlignment="center"
                                        >
                                        </Label>
                                
                                </GridLayout>

                    </GridLayout>
                    
                    </GridLayout>
                    
            </GridLayout>
        </GridLayout>
    </StackLayout>
</ScrollView>