
$primaryColor: white;

.logo-container{
    height: 150;
    width: 200;
    margin-top: 80;
}

.lblLoginEmail {
    margin-top: 10;
    margin-left: 20;
    margin-right: 20;
}
.btnLogin {
    margin-top: 12;
    margin-left: 20;
    margin-right: 20;
    height: 40;
    background-color: #1b75bb;
    border-radius: 5;
    color: $primaryColor;
}

.txtEmailLogin {
    border-width: 0.5;
    margin-top: 40;
    margin-left: 20;
    margin-right: 20;
    border-radius: 3;
    border-color: #aaaaaa;
}

.txtPasswordLogin {
    border-width: 0.5;
    margin-top: 15;
    margin-left: 20;
    margin-right: 20;
    border-radius: 3;
    border-color: #aaaaaa;
}

.forgotPassword {
    height: 20;  
    margin-top: 12;
    margin-left: 20;
    color: #1b75bb;
}

.lbldontac {
    height: 20;  
    margin-top: 12;
    margin-right: 20;
}

.btnOwner {
    margin-top: 30;
    height: 40;
    width: 150;
    margin-left: 20;
    background-color: #1b75bb;
    border-radius: 3;
    color: white;
}

.btnAgent {
    margin-top: 30;
    height: 40;
    width: 150;
    margin-right: 5;
    background-color: #1b75bb;
    border-radius: 3;
    color: white;
}
