  <page-router-outlet></page-router-outlet>

  <RadSideDrawer drawerTransition="PushTransition" drawerContentSize="200">

    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">

                    <GridLayout rows="auto, *" class="sidedrawer-list-item-active" title="Home" tap="onNavigationItemTap">
                        <Image row="0" src="~/app/images/ic_owner" class="menuLogo"></Image>
                        <Label row="1" text = "Harmis" class="fontColor var m-l-10 menuTitleActive" ></Label>
                    </GridLayout>
                    
                    <StackLayout class="hr-light"></StackLayout>

                <GridLayout rows="auto, *" class="sidedrawer-list-item"
                    title="My Propertiess" (tap) = "onNavigationItemTap(this.title)">
                    <Image row="0" src="~/app/images/ic_my_property.png" class="menuLogoSecond"></Image>
                    <Label row="1" text = "My Propertiess" class="fontColor var m-l-10 menuTitle" ></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout rows="auto, *" class="sidedrawer-list-item"
                    title="Home" tap = "onNavigationItemTap">
                    <Image row="0" src="~/app/images/ic_home" class="menuLogoSecond"></Image>
                    <Label row="1" text="Add/Edit Property" class="fontColor var m-l-10 menuTitle" ></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout rows="auto, *" class="sidedrawer-list-item"
                    title="Search" tap="onNavigationItemTap">
                    <Image row="0" src="~/app/images/ic_client_history" class="menuLogoSecond"></Image>
                    <Label row="1" text="Client Order History" class="fontColor var m-l-10 menuTitle" ></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout rows="auto, *" class="sidedrawer-list-item"
                    title="Camera" tap="onNavigationItemTap">
                    <Image row="0" src="~/app/images/ic_example_work" class="menuLogoSecond"></Image>
                    <Label row="1" text="Example Work" class="fontColor var m-l-10 menuTitle" ></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout rows="auto, *" class="sidedrawer-list-item"
                    title="Store" tap="onNavigationItemTap">
                    <Image row="0" src="~/app/images/ic_contact_admin" class="menuLogoSecond"></Image>
                    <Label row="1" text="Contact Admin" class="fontColor var m-l-10 menuTitle" ></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout rows="auto, *" class="sidedrawer-list-item"
                    title="Store" tap="onNavigationItemTap">
                    <Image row="0" src="~/app/images/ic_calendar" class="menuLogoSecond"></Image>
                    <Label row="1" text="Calendar" class="fontColor var m-l-10 menuTitle" ></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout rows="auto, *" class="sidedrawer-list-item"
                    title="Store" tap="onNavigationItemTap">
                    <Image row="0" src="~/app/images/ic_signout" class="menuLogoSecond"></Image>
                    <Label row="1" text="Signout" class="fontColor var m-l-10 menuTitle" ></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>

</RadSideDrawer>
