
.fa {
    font-family: "FontAwesome";
}

.var {
    font-family: "Roboto", "Roboto-Bold";
    font-weight: bold;
    font-size: 17;
}

.fontColor {
    color: white;  
}

.action-bar {
    background-color: #191919;
}

.ab-icon {
    color: white;
}

.page-content {
    background-image: url("https://placem.at/places?random=11&h=1500&txt=0");
    background-size: cover;
}

.hr-light {
    background-color: #aaaaaa;
}

.sidedrawer {
    background-color: white;
}

.sidedrawer-header-text {
    color: white;
    font-size: 22;
    font-weight: 800;
    margin-top: 60;
}

.sidedrawer-header-footnote {
    color: white;
}

.sidedrawer-list-item {
    color: white;
    height: 80;
}
.sidedrawer-list-item-active {
    color: white;
    height: 90;
}

.sidedrawer-item {
    vertical-align:center;
    color: #959292;
    margin-top: 5;
    margin-bottom: 5;
}

.menuTitle {
     horizontal-align:center;
     margin-top: 5;
     height: 20;
     margin-bottom: 5;
     color: #959292;

}
.menuTitleActive {
    horizontal-align: center;
    margin-top: 5;
    height: 20;
    margin-bottom: 5;
    color: white;

}

.sidedrawer-list-item-active {
    background-color: #1877bb;
}

.menuLogo {
horizontal-align:center;
width: 50;
height: 50;
margin-top: 5;
margin-bottom: 5;
}

.menuLogoSecond {
    horizontal-align:center;
    width: 34;
    height: 34;
    margin-top: 10;
}

.action-bar {
    background-color: #1877bb;
}

.btnMenu {
    width: 20;
    height: 20;
    margin-left: 12;
    vertical-align:center;   
}
 