<!--The content below is only a placeholder and can be replaced.-->
<ActionBar title="Home" class=" var action-bar">
	<ActionItem>
		<StackLayout>
			<Image src="~/app/images/ic_menu" width="20" height="20" (tap)="onDrawerButtonTap()"></Image>
		</StackLayout>
	</ActionItem>
</ActionBar>
<StackLayout class="p-20">
    <Label text="Welcome to {{ title }}!" class="h1 text-center" textWrap="true"></Label>
</StackLayout>