
.fa {
    font-family: "FontAwesome";
}

.menu-icon {
    font-size: 26; 
    color: white;
    padding-left: 13;
    vertical-align: center;
} 
.action-bar {
    background-color: #1877bb;
}

.page-content {
    background-image: url("https://placem.at/places?random=11&h=1500&txt=0");
    background-size: cover;
}

.var {
    font-family: "Roboto", "Roboto-Bold";
    font-weight: bold;
    font-size: 17;
    color: white;  
}